
.text{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    position:relative;
    margin-top: -350px;
}
.text1{
    margin-left: 85rem;
    margin-top: -20rem;
    display: flex;
    color: #fff;
    text-decoration: none;
}
.button1{
    height: auto;
    align-self:flex-end;
    padding: 4px 15px;
    border-radius: 15px;
    cursor: pointer; 
    background-color: aquamarine;
}
.container{
 position: relative;
 top: 100px;
 display: flex;
 margin-left: 27%;
 margin-right: 20%;
 justify-content: space-between;
}
.h1{
    position: relative;
    top: 100px;
    display: flex;
    margin-left: 37%;
}