.header{
    width: 100%;
}
.text{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    position:relative;
    margin-top: -350px;
}
.text1{
    margin-left: 84rem;
    margin-top: -25rem;
    display: flex;
    color: #fff;
    text-decoration: none;
}
.button1{
    height: auto;
    align-self:flex-end;
    padding: 0px 29px;
    border-radius: 30px;
    cursor: pointer; 
    background-color: rgb(0, 247, 164);
}
.container{
 position: relative;
 top: 100px;
 display: flex;
 margin-left: 22%;
 margin-right: 13%;
 justify-content: space-between;
}
.h1{
    position: relative;
    top: 100px;
    display: flex;
    margin-left: 37%;
}
h3{
    text-align: center;
}
.p{
    text-align: center;
    color: #666;
}
.p1{
    color: #666;
}
.text2{
    position: relative;
    top: 200px;
    left: 20%;
}
p{
    color: #666;
}
.button2{
    
}